In [1]:
import pandas as pd
import numpy as  np
import random

In [2]:
metadata = "/Users/anaghakaranam/Documents/MATLAB/SpEagle/15-collective_opinion_spam_detection/YelpNYC/YelpNYC_data/metadata"
review_content = "/Users/anaghakaranam/Documents/MATLAB/SpEagle/15-collective_opinion_spam_detection/YelpNYC/YelpNYC_data/reviewContent"

In [3]:
data=pd.read_csv(metadata,sep='\t',header=None,names=['userid','productid','rating','label','date'])

In [4]:
data.shape

(359052, 5)

In [5]:
#split users & products they did on.
data.head()

   userid  productid  rating  label        date
0     923          0     3.0     -1  2014-12-08
1     924          0     3.0     -1  2013-05-16
2     925          0     4.0     -1  2013-07-01
3     926          0     4.0     -1  2011-07-28
4     927          0     4.0     -1  2010-11-01

In [6]:
#temp has number of users and count is the number of reviews each user gave. 
temp = data['userid'].groupby(data['userid']).agg(['count'])
#temp.head()

In [7]:
temp.reset_index(level=0, inplace=True)
temp.columns

Index(['userid', 'count'], dtype='object')

In [8]:
temp.head()

   userid  count
0     923     39
1     924      1
2     925      2
3     926      1
4     927      5

In [9]:
# what we show here is that the number of people who wrote only 1 review is a lot. This can cause cold start problem
#in graphs. (neighbors may not have enough information about the node to trust it or mistrust it. similar to humans)
# We prove the same here on both the datasets.

In [10]:
#First the YelpNYC Dataset

In [11]:
#add a column to represent the bin the user belongs to. 
bins = [0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,105,110,115,120,125,130,135,140,145,150,155,160
        ,165,170,175,185]
temp['review_count_bins'] = pd.cut(temp['count'], bins)

In [12]:
temp.head()

   userid  count review_count_bins
0     923     39          (35, 40]
1     924      1            (0, 5]
2     925      2            (0, 5]
3     926      1            (0, 5]
4     927      5            (0, 5]

In [13]:
temp.shape

(160225, 3)

In [14]:
#now that we have the bins, lets find the number of users in each bin. 
user_review_count =temp.groupby('review_count_bins')['userid'].count().reset_index(name='Count').to_dict(orient='records')

In [15]:
user_review_count
#later draw a visualization for this.

[{'review_count_bins': Interval(0, 5, closed='right'), 'Count': 149981},
 {'review_count_bins': Interval(5, 10, closed='right'), 'Count': 6111},
 {'review_count_bins': Interval(10, 15, closed='right'), 'Count': 1860},
 {'review_count_bins': Interval(15, 20, closed='right'), 'Count': 835},
 {'review_count_bins': Interval(20, 25, closed='right'), 'Count': 482},
 {'review_count_bins': Interval(25, 30, closed='right'), 'Count': 301},
 {'review_count_bins': Interval(30, 35, closed='right'), 'Count': 203},
 {'review_count_bins': Interval(35, 40, closed='right'), 'Count': 122},
 {'review_count_bins': Interval(40, 45, closed='right'), 'Count': 90},
 {'review_count_bins': Interval(45, 50, closed='right'), 'Count': 62},
 {'review_count_bins': Interval(50, 55, closed='right'), 'Count': 46},
 {'review_count_bins': Interval(55, 60, closed='right'), 'Count': 24},
 {'review_count_bins': Interval(60, 65, closed='right'), 'Count': 25},
 {'review_count_bins': Interval(65, 70, closed='right'), 'Count': 15},
 {'review_count_bins': Interval(70, 75, closed='right'), 'Count': 12},
 {'review_count_bins': Interval(75, 80, closed='right'), 'Count': 10},
 {'review_count_bins': Interval(80, 85, closed='right'), 'Count': 11},
 {'review_count_bins': Interval(85, 90, closed='right'), 'Count': 9},
 {'review_count_bins': Interval(90, 95, closed='right'), 'Count': 6},
 {'review_count_bins': Interval(95, 100, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(100, 105, closed='right'), 'Count': 6},
 {'review_count_bins': Interval(105, 110, closed='right'), 'Count': 3},
 {'review_count_bins': Interval(110, 115, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(115, 120, closed='right'), 'Count': 3},
 {'review_count_bins': Interval(120, 125, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(125, 130, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(130, 135, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(135, 140, closed='right'), 'Count': 1},
 {'review_count_bins': Interval(140, 145, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(145, 150, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(150, 155, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(155, 160, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(160, 165, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(165, 170, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(170, 175, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(175, 185, closed='right'), 'Count': 1}]

In [16]:
# 93% of the users in the dataset wrote only 0-5 reviews. 
#Is that number of reviews enough to predict the authenticity of the spammer? We will check that in test2. After YelpZIP
149981/160225

0.9360649087221096

In [ ]:
#149981 out of 160225 have written only 0-5 reviews. So, this could be the reason why the accuracy of Yelp NYC is low.
#Compare the same for the Yelp ZIP data set which has higher accuracy below. 
#below is for YelpZip

In [48]:
    metadata = "/Users/anaghakaranam/Documents/MATLAB/SpEagle/15-collective_opinion_spam_detection/YelpZIP/YelpZip_data/metadata"
review_content = "/Users/anaghakaranam/Documents/MATLAB/SpEagle/15-collective_opinion_spam_detection/YelpZIP/YelpZip_data/reviewContent"

In [49]:
data=pd.read_csv(metadata,sep='\t',header=None,names=['userid','productid','rating','label','date'])

In [50]:
data.shape

(608598, 5)

In [51]:
#split users & products they did on.
data.head()

   userid  productid  rating  label        date
0    5044          0     1.0     -1  2014-11-16
1    5045          0     1.0     -1  2014-09-08
2    5046          0     3.0     -1  2013-10-06
3    5047          0     5.0     -1  2014-11-30
4    5048          0     5.0     -1  2014-08-28

In [52]:
#temp has number of users and count is the number of reviews each user gave. 
temp = data['userid'].groupby(data['userid']).agg(['count'])
#temp.head()

In [53]:
temp.reset_index(level=0, inplace=True)
temp.columns

Index(['userid', 'count'], dtype='object')

In [54]:
max(temp['count'])

197

In [55]:
min(temp['count'])

1

In [56]:
#add a column to represent the bin the user belongs to. 
bins = [0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,105,110,115,120,125,130,135,140,145,150,155,160
        ,165,170,175,180,185,190,195,200]
temp['review_count_bins'] = pd.cut(temp['count'], bins)

In [57]:
#now that we have the bins, lets find the number of users in each bin. 
user_review_count =temp.groupby('review_count_bins')['userid'].count().reset_index(name='Count').to_dict(orient='records')

In [58]:
#unique users in YelpZIP dataset. 
temp.shape

(260277, 3)

In [59]:
user_review_count
#later draw a visualization for this.

[{'review_count_bins': Interval(0, 5, closed='right'), 'Count': 242238},
 {'review_count_bins': Interval(5, 10, closed='right'), 'Count': 10703},
 {'review_count_bins': Interval(10, 15, closed='right'), 'Count': 3185},
 {'review_count_bins': Interval(15, 20, closed='right'), 'Count': 1495},
 {'review_count_bins': Interval(20, 25, closed='right'), 'Count': 851},
 {'review_count_bins': Interval(25, 30, closed='right'), 'Count': 549},
 {'review_count_bins': Interval(30, 35, closed='right'), 'Count': 352},
 {'review_count_bins': Interval(35, 40, closed='right'), 'Count': 230},
 {'review_count_bins': Interval(40, 45, closed='right'), 'Count': 172},
 {'review_count_bins': Interval(45, 50, closed='right'), 'Count': 127},
 {'review_count_bins': Interval(50, 55, closed='right'), 'Count': 84},
 {'review_count_bins': Interval(55, 60, closed='right'), 'Count': 61},
 {'review_count_bins': Interval(60, 65, closed='right'), 'Count': 51},
 {'review_count_bins': Interval(65, 70, closed='right'), 'Count': 40},
 {'review_count_bins': Interval(70, 75, closed='right'), 'Count': 27},
 {'review_count_bins': Interval(75, 80, closed='right'), 'Count': 21},
 {'review_count_bins': Interval(80, 85, closed='right'), 'Count': 18},
 {'review_count_bins': Interval(85, 90, closed='right'), 'Count': 15},
 {'review_count_bins': Interval(90, 95, closed='right'), 'Count': 13},
 {'review_count_bins': Interval(95, 100, closed='right'), 'Count': 7},
 {'review_count_bins': Interval(100, 105, closed='right'), 'Count': 10},
 {'review_count_bins': Interval(105, 110, closed='right'), 'Count': 7},
 {'review_count_bins': Interval(110, 115, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(115, 120, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(120, 125, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(125, 130, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(130, 135, closed='right'), 'Count': 5},
 {'review_count_bins': Interval(135, 140, closed='right'), 'Count': 1},
 {'review_count_bins': Interval(140, 145, closed='right'), 'Count': 2},
 {'review_count_bins': Interval(145, 150, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(150, 155, closed='right'), 'Count': 1},
 {'review_count_bins': Interval(155, 160, closed='right'), 'Count': 1},
 {'review_count_bins': Interval(160, 165, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(165, 170, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(170, 175, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(175, 180, closed='right'), 'Count': 1},
 {'review_count_bins': Interval(180, 185, closed='right'), 'Count': 1},
 {'review_count_bins': Interval(185, 190, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(190, 195, closed='right'), 'Count': 0},
 {'review_count_bins': Interval(195, 200, closed='right'), 'Count': 1}]

In [60]:
#same case as YelpNYC.
242238/260277

0.9306930693069307

# lets go to TEST 2.
#Yelp NYC
#fetch users who wrote only 1-5 reviews and see the model results for them

In [16]:
temp.head()

   userid  count review_count_bins
0     923     39          (35, 40]
1     924      1            (0, 5]
2     925      2            (0, 5]
3     926      1            (0, 5]
4     927      5            (0, 5]

In [63]:

users_0_to_5_ynyc = temp['userid'].loc[temp['review_count_bins'] == pd.Interval(0, 5)]
len(users_0_to_5_ynyc)

242238

In [39]:
#randomly choose 9 people out of these. 

users_0_to_5_sample_ynyc = pd.DataFrame()
temp1 = random.sample(list(users_0_to_5_ynyc), 9)
temp1

[139830, 114185, 100782, 38295, 94008, 69700, 117959, 17563, 24938]

In [40]:
#get the actual and predicted values for these users from the dataframe - 'data'

users_0_to_5_sample_ynyc[['userid','actual']] = data[data['userid'].isin(list(temp1))][['userid','label']]
users_0_to_5_sample_ynyc

        userid  actual
20319    17563       1
28732    17563       1
30526    24938       1
51619    38295       1
60389    24938       1
112089   69700       1
166670   94008       1
184039  100782       1
215959  114185       1
225444  117959      -1
244055  100782       1
290926  139830       1

In [42]:
users_0_to_5_sample_ynyc['predicted'] = -1
users_0_to_5_sample_ynyc.drop_duplicates()

        userid  actual  predicted
20319    17563       1         -1
30526    24938       1         -1
51619    38295       1         -1
112089   69700       1         -1
166670   94008       1         -1
184039  100782       1         -1
215959  114185       1         -1
225444  117959      -1         -1
290926  139830       1         -1

In [ ]:
#problem cuz we are tagging users as once a spammer, always a spammer method. 
# cuz we label users, if a user wrote at least one filtered review s/he is fraud

In [ ]:
#do the same thing for people with more reviews.

In [43]:
users_85_to_90 = temp['userid'].loc[temp['review_count_bins'] == pd.Interval(85, 90)]

In [44]:
users_85_to_90

124     1047
953     1876
1389    2312
2031    2954
2370    3293
3731    4654
4337    5260
4635    5558
4985    5908
Name: userid, dtype: int64

In [45]:
#randomly choose 9 people out of these. 

users_85_to_90_ynyc = pd.DataFrame()
users_85_to_90_ynyc[['userid','actual']] = data[data['userid'].isin(list(users_85_to_90))][['userid','label']]

In [47]:
users_85_to_90_ynyc.drop_duplicates()

      userid  actual
124     1047       1
956     1876       1
1403    2312       1
2085    2954       1
2437    3293       1
3862    4654       1
4525    5260       1
4858    5558       1
5272    5908       1

In [ ]:
#for the above two users list, get the originals and predicted values and then find the accuracy.

# Yelp ZIP

In [61]:

users_0_to_5_yzip = temp['userid'].loc[temp['review_count_bins'] == pd.Interval(0, 5)]

In [62]:
len(users_0_to_5_yzip)

242238

In [76]:
#randomly choose 9 people out of these. 

users_0_to_5_sample_yzip = pd.DataFrame()
temp1 = random.sample(list(users_0_to_5_yzip), 15)
temp1

[98941,
 132982,
 20257,
 205842,
 237708,
 220897,
 146156,
 264987,
 216894,
 173351,
 230418,
 46610,
 215863,
 223814,
 180816]

In [77]:
#get the actual and predicted values for these users from the dataframe - 'data'

users_0_to_5_sample_yzip[['userid','actual']] = data[data['userid'].isin(list(temp1))][['userid','label']]
users_0_to_5_sample_yzip

        userid  actual
16821    20257       1
53252    46610       1
134295   20257       1
145733   98941       1
221987  132982       1
231359   98941       1
252871  146156      -1
316970   20257       1
321372  173351       1
341262  180816       1
414302  205842       1
422567   98941       1
444579  215863       1
448357  216894       1
460388  220897      -1
471190  223814       1
490710   20257       1
491891  230418       1
515094  237708      -1
607623  264987       1

In [78]:
users_0_to_5_sample_yzip['predicted'] = -1
users_0_to_5_sample_yzip.drop_duplicates()

        userid  actual  predicted
16821    20257       1         -1
53252    46610       1         -1
145733   98941       1         -1
221987  132982       1         -1
252871  146156      -1         -1
321372  173351       1         -1
341262  180816       1         -1
414302  205842       1         -1
444579  215863       1         -1
448357  216894       1         -1
460388  220897      -1         -1
471190  223814       1         -1
491891  230418       1         -1
515094  237708      -1         -1
607623  264987       1         -1

In [79]:
users_85_to_90 = temp['userid'].loc[temp['review_count_bins'] == pd.Interval(85, 90)]

In [80]:
users_85_to_90

483       5527
533       5577
1918      6962
2271      7315
2340      7384
3314      8358
3331      8375
4684      9728
6857     11901
7762     12806
7845     12889
8405     13449
8674     13718
12192    17236
18975    24019
Name: userid, dtype: int64

In [81]:
len(users_85_to_90)

15

In [82]:
#randomly choose 9 people out of these. 

users_85_to_90_yzip = pd.DataFrame()
users_85_to_90_yzip[['userid','actual']] = data[data['userid'].isin(list(users_85_to_90))][['userid','label']]

In [83]:
users_85_to_90_ynyc.drop_duplicates()

      userid  actual
124     1047       1
956     1876       1
1403    2312       1
2085    2954       1
2437    3293       1
3862    4654       1
4525    5260       1
4858    5558       1
5272    5908       1

In [94]:
#>80
users_greater_80 = temp['userid'].loc[temp['review_count_bins'] == pd.Interval(105,110)]

In [95]:
len(users_greater_80)

7

In [96]:
#randomly choose 9 people out of these. 

users_more_80_yzip = pd.DataFrame()
users_more_80_yzip[['userid','actual']] = data[data['userid'].isin(list(users_greater_80))][['userid','label']]

In [98]:
users_more_80_yzip.drop_duplicates()

       userid  actual
577      5620       1
2653     7688       1
3741     8748       1
4696     9679       1
6279    11146       1
13034   17116       1
18179   21344       1

In [ ]:
#conclusion: 
# what we went to prove. but, what we found. 
# problem in dataset itself. Maybe, yelp filters that way. Starts trusting people who write more reviews...
#We should try with some other datasets.